@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

:root {
  --accent-400: hsl(12, 60%, 45%);
  --accent-400: hsl(12, 88%, 59%);
  --accent-300: hsl(12, 88%, 75%);
  --accent-100: hsl(13, 100%, 96%);

  --primary-400: hsl(228, 39%, 23%);

  --gray-700: hsl(0, 0%, 55%);
  --neutral-900: hsl(232, 12%, 13%);
  --neutral-100: hsl(0, 0%, 100%);


  --font-family-primary: "Be Vietnam Pro", sans-serif;

  --ff-body: var(--font-family-primary);
  --ff-heading: var(--font-family-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-300: 0.8125rem; /* 13px */
  --fs-400: 0.875rem; /* 14px */
  --fs-500: 0.9375rem; /* 15px */
  --fs-600: 1rem; /* 16px */
  --fs-700: 1.875rem; /* 30px */
  --fs-800: 2.5rem; /* 40px */

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2em;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;
}

@media (min-width: 50em) {
  /* it is for large screen design */
  :root {
    --fs-body: var(--fs-500);
    --fs-nav: var(--fs-300);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul , ol elements  */

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set-core body defaults */

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* General styling */

body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--primary-400);
}

/* ch -- "character" mənasına gəlir. 35ch vahidi, mətnin genişliyini mətnin uzunluğuna uyğunlaşdırır.
35-75 simvol genişliyi olan mətnlər oxunması daha asan və gözlər üçün daha rahat olur.
Dinamik ölçü: Font dəyişdikdə və ya fərqli şriftlər istifadə olunduqda belə, mətn qutusu oxunaqlı qalır, çünki genişlik avtomatik olaraq simvol ölçüsünə uyğunlaşır.*/

p:not([class]) {
  opacity: 0.7;
  max-width: 32ch;
}

p[data-width="wide"] {
  max-width: 42ch;
}

/* Button */
/* This is actually not belong utility classes it is belong component classes */

.button {
  display: inline-flex;
  background-color: var(--accent-400);
  color: var(--neutral-100);
  cursor: pointer;
  border: 0;
  border-radius: 100vmax;
  padding: 1.25em 2.5em;
  font-weight: var(--fw-bold);
  font-size: var(--fs-button);
  line-height: 1;
  box-shadow: 0 1.125 1em -1em var(--accent-500);
}

/* 100vmax explanation -- If the viewport's width is 1000px and its height is 800px, 
1vmax will equal 10px (since 1000px is the larger value).
border-radius: 100vmax; in this case would equal 1000px. 

box-shadow --- 
A positive value increases the size of the shadow, while a negative value decreases it. 
When -1em is used, it reduces the size of the shadow, making it smaller and tighter around the element.*/

.button[data-type="inverted"] {
  background-color: var(--neutral-100);
  color: var(--accent-400);
}

.button:hover,
.button:focus-visible {
  background-color: var(--accent-300);
}

/* .button:focus-viible --- In this example, the button with the .button class will be background color lighter only when 
focused via the keyboard or assistive technologies. 
When the button is clicked with the mouse, this style will not be applied.
But we also used button:hover it is work also when we clicked with the mouse */

.button[data-type="inverted"]:hover,
.button[data-type="inverted"]:focus-visible {
  background-color: var(--neutral-100);
  color: var(--accent-300);
}

/* Navigation */

.primary-header {
  padding-top: var(--size-700);
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav-toggle {
  display: none;
}

.nav-list {
  font-size: var(--fs-nav);
}

.nav-list {
  display: flex;
  gap: clamp(var(--size-400), 5vw, var(--size-600));
  font-weight: var(--fw-semi-bold);
}

.nav-list a {
  text-decoration: none;
  color: var(--primary-400);
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--gray-700);
  outline: none;
}

/* Bu media query, ekranın eni 50 em-dən (adətən təxminən 800px,
 əgər html elementinin font-size-ı 16px-dirsə) kiçik və ya bərabər olduqda tətbiq edilir. 
Yəni bu stil yalnız ekran eni 50 em və ya daha kiçik olduqda aktiv olacaq. */

@media (max-width: 50em) {
  .primary-navigation {
    display: none;
    position: fixed;
    padding: var(--size-700);
    inset: 7rem var(--size-400) auto;
    max-width: 25rem;
    margin-inline: auto;
    background: var(--neutral-100);
    border-radius: var(--size-100);
    box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.05);
  }

  .nav-list {
    display: grid;
    gap: var(--size-400);
    text-align: center;
    font-weight: var(--fw-bold);
  }

  .nav-list a {
    color: var(--primary-400);
  }

  .nav-list a:hover,
  .nav-list a:focus {
    color: var(--accent-400);
  }


  .primary-header[data-overlay]::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 /0.8));
  }

  .primary-navigation[data-visible] {
    display: block;
  }
  
  /* blok səviyyəli element kimi görünməsini təmin edir.
Yəni bu element öz sətirində tam eni tutur. */
  .mobile-nav-toggle {
    display: block;
    position: fixed;
    top: var(--size-600);
    right: var(--size-400);
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
  }

  .mobile-nav-toggle .icon-close {
    display: none;
  }

  .cta {
    text-align: center;
  }

  .jse-md {
    margin: 0 auto;
  }
}
/* Footer */
.primary-footer {
  --logo-color: var(--neutral-100);
}

/* footer navigation */

.footer-nav {
  columns: 2;
}

.footer-nav a {
  color: var(--neutral-100);
  text-decoration: none;
}

/* burada is yerine where de yaza bilerik */

.footer-nav a:is(:hover, :focus) {
  color: var(--accent-400);
}

/* social list */

.social-list {
  display: flex;
  gap: var(--size-300);
}

.social-icon {
  width: var(--size-600);
  aspect-ratio: 1;
  fill: var(--neutral-100);
}

.social-list a:is(:hover, :focus) .social-icon {
  fill: var(--accent-400);
}

@media (min-width: 50em) {
  .social-icon {
    width: var(--size-500);
  }
}
/* cta */

.cta {
  position: relative;
  isolation: isolate;
}

.cta::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-image: url("images/bg-tablet-pattern.svg"),
  url("images/bg-tablet-pattern.svg");
  background-position: -15rem -5rem, 80rem -42rem;
  background-repeat: no-repeat;
  opacity: 0.1;
}

/* Utility classes */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.container {
  --max-width: 1110px;
  --padding: 1rem;
  /* This padding for mobile version */

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  /* in this case padding multiply by 2 because each side have to 1 rem padding. */
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  } 

}
/* There best practice @media query we have to use em 
because em is valid when you zoom in and zoom out 
for your browser,  */

.vertical-align-center {
  align-items: center;
}

.justify-self-end {
  justify-self: end;
}

:where(.flow :not(:first-child)) {
  margin-top: var(--flow-spacer, 3rem);
}


/* margin-top: var(--flow-spacer, 1.5rem); bu yazılışın mənası
əgər --floü-spacer-i tapmasan 1.5rem dəyər ver */


.text-primary-400 {
  color: var(--primary-400);
}

.text-accent-100 {
  color: var(--accent-100);
}

.text-accent-400 {
  color: var(--accent-400);
}

.text-neutral-100 {
  color: var(--neutral-100);
}

.text-neutral-400 {
  color: var(--neutral-400);
}

.bg-primary-400 {
  background-color: var(--primary-400);
}

.bg-accent-100 {
  background-color: var(--accent-100);
}

.bg-accent-400 {
  background-color: var(--accent-400);
}

.bg-neutral-100 {
  background-color: var(--neutral-100);
}

.bg-neutral-400 {
  background-color: var(--neutral-400);
}

.bg-neutral-900 {
  background-color: var(--neutral-900);
}

.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-boldbold);
}
.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
  line-height: 1.1;
}

.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
  line-height: 1.1;
}

.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}

.padding-block-900 {
  padding-block: var(--size-900);
}

.padding-block-700 {
  padding-block: var(--size-700);
}

.display-sm-none {
  display: none;
}

@media (min-width: 50em) {
  .display-md-inline-flex {
    display: inline-flex;
  }
}